body {
  font-family: myriad-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #333333;
}

div {
  box-sizing: border-box;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

h1 {
  letter-spacing: 3px;
  margin-bottom:-10px;
  font-size: 50px;
}

h1 .slim {
  font-weight:100;
  display: block;
  margin-bottom:-10px;
}

h2 {
  color: #45c7ac;
  font-size: 18px;
}
.grid-container {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas:
    "title content content content"
    "extras content content content"
    "extras content content content";
  
  box-shadow: 0px 0px 70px 0px rgba(0,0,0,.3);
}
.container--title { grid-area: title; }
.container--content { grid-area: content; }
.container--extras { grid-area: extras; }
.container--title {
  text-align: center;
  padding: 5px;
  margin-bottom: 30px;
}
.container--content {
  border-left: solid 2px #333;
  padding: 10px;
  text-align: center;
}

.profile {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

/* === ICON === */
.icon--medium {
  height:20px;
  width:20px;
  display: inline-block;
}

.icon img {
  width:100%;
  height:100%;
}

/* === CONTACT === */
.contact {
  width: 100%;
  text-align: left;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  padding: 0 10px;
}

.contact .icon {
  transform: translateY(5px);
  margin-right: 5px;
}

/* === SECTION === */
.section {
  margin-bottom: 30px;
}
.section__header {
  width: 100%;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}

.section__content {
  text-align: left;
}

.section__icon {
  height: 45px;
  width: 45px;
  border: 2px solid #333;
  display: block;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
}

.section__icon .icon {
  transform: translateY(10px);
}

.section__title {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  background: white;
  z-index: 2;
  display: inline-block;
  padding: 0 15px;
  position: relative;
  margin: 2px;
}

.section__line {
  height: 2px;
  width: calc(100% - 10px);
  margin:0 auto;
  display: block;
  background: #333;
  transform: translateY(16px);
  z-index: 1;
}

/* === LIST === */
.list {
  list-style: none
}

.list__item {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size:14px;
}
.list--round .list__item::before {
  content: ' ';
  background-image: url(./images/circle.svg); 
  background-size: cover;
  position: relative;
  display: inline-block;
  top: 6px;
  width: 15px;
  height: 15px;
  transform: translate(-10px, -3px);
}

.list--diamond .list__item::before {
  content: ' ';
  background-image: url(./images/diamond.svg); 
  background-size: cover;
  position: relative;
  display: inline-block;
  top: 6px;
  transform: translate(-10px, -3px);
  width: 17px;
  height: 17px;
}

/* === CARD === */
.card {
  display: block;
  position: relative;
  border: solid #333 2px;
  margin-bottom: 50px;
}

.card__title {
  width: 100%;
  padding: 5px;
  background: #45c7ac;
  color: white;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid #333;
  font-weight: bold;
}

.card__subtitle {
  font-weight: bold;
  text-align: center;
  width: 100%;
  padding: 10px;
}

.card__text {
  padding: 10px;
}

.card__date {
  transform: translateY(20px);
  color: #999;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  width: 100%;
  text-align: center;
}

.card__location {
  font-weight: 100;
}


/* === LANGUAGE === */

.language {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  margin-right: calc((100% - ( 3 * 80px) - 80px ) / 4);
  padding: 10px;
}

.language__pie-chart {
  position: relative;
  width: 80px;
  min-height: 80px;
  margin-bottom: 5px;
  border-radius: 50%;
  border: 2px solid;
}

.language__pie-chart--97 {
  background: 
    radial-gradient( 
      circle closest-side, 
      transparent 100%, 
      white 0 
    ), 
    conic-gradient(
       #45c7ac 0, 
       #45c7ac 97%, 
       white 0, white 
       100% 
    );
}

.language__pie-chart--74 {
  background: 
    radial-gradient( 
      circle closest-side, 
      transparent 100%, 
      white 0 
    ), 
    conic-gradient(
       #45c7ac 0, 
       #45c7ac 74%, 
       white 0, white 
       100% 
    );
}

.language__pie-chart--100 {
  background: 
    radial-gradient( 
      circle closest-side, 
      transparent 100%, 
      white 0 
    ), 
    conic-gradient(
       #45c7ac 0, 
       #45c7ac 100%, 
       white 0, white 
       100% 
    );
}


/* === BAR === */

.bar {
  display: block;
}

.bar__title {
  display: inline-block;
  width: 100px;
  margin: 0 10px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  transform: translateY(-5px);
}

.bar__container {
  display: inline-block;
  width: calc(100% - 130px);
  border: 2px solid #333;
  height: 20px;
}

.bar__fill {
  background: #45c7ac;
  display: block;
  height: 100%;
}

.bar__fill--70  { width: 70%; }
.bar__fill--30  { width: 30%; }